body
  font: 20px "Source Sans Pro"
  font-weight: 300

a
  text-decoration: none
  color: #4A90E2

h1
  font-weight: 400
  font-size: 2.5em

h2
  font-weight: 400
  font-size: 1.25em

textarea
  font: inherit

footer
  font-size: 0.75em
